* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif !important;
}

body {
  font-family: "Tajawal", sans-serif !important;
}

.chat-page {
  display: flex;
  height: 100vh;
  background-image: url('background.jpg'); /* Adjust the path as necessary */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-10px); /* Move up by 10px at halfway */
  }
}

.robot-container {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  right: 33%;
  transform: translateX(50%);
  width: 7%;
  height: 14%;
  animation: upDown 2s ease-in-out infinite;
}

/* Hide .robot-container on mobile view */
@media (max-width: 1000px) {
  .robot-container {
    display: none;
  }
}

.index-module_type__E-SaG::after {
  content: "";
  display: none; /* Hides the cursor */
}

.chat-container {
  background: transparent;
  margin: auto;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .chat-container {
    width: 90%;
  }
}

.chat-header {
  height: 10%;
  position: absolute;
  width: 100%;
  height: 14%;
  top: 0;
  color: white;
  background: #07755d;
  text-align: center;
}

.chat-messages {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.bot {
  justify-content: flex-end;
}

.similar-question-button {
  background-color: #99e3ca;
  color: #08593e;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.similar-question-button:hover {
  background-color: #85c9b5;
}

.message-avatar {
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.chat-message.bot .message-text {
  max-width: 70%;
  font-size: 1.1rem;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 15px;
  padding: 12px;
  margin: 5px;
  animation: fadeIn 0.4s ease-in-out;
}

.chat-message.user .message-text {
  max-width: 70%;
  font-size: 1.1rem;
  background-color: #00573a;
  color: #fff;
  border-radius: 15px; /* Adjust border-radius for both sides */
  padding: 12px;
  margin: 5px; /* Add some margin around messages */
  animation: fadeIn 0.4s ease-in-out;
}

.similar-question-button {
    background-color: #99e3ca;
    border: none;
    padding: 10px 15px; /* ??? padding ??? ??? ??? ??????? */
    margin: 5px 0; /* ???? ??????? ???????? */
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    animation: fadeIn 0.4s ease-in-out;
    display: block; /* ???? ?? ?? ???? ???? ????? ????? */
    text-align: center; /* ?????? ???? ?? ????? */
}

.similar-question-button:hover {
    background-color: #086b55;
}

.una-news-button {
    background-color: #006400; /* ??? ????? ???? */
    color: white; /* ??? ???? */
    border: none; /* ????? ?????? */
    border-radius: 5px; /* ????? ?????? */
    padding: 10px 15px; /* ????? ?????? */
    font-size: 16px; /* ??? ???? */
    cursor: pointer; /* ???? ???? ??? ??????? ??? ???? */
    margin-left: 10px; /* ????? ??? ??????? */
    transition: background-color 0.3s; /* ????? ?????? ??? ??????? */
}

.una-news-button:hover {
    background-color: #004d00; /* ??? ????? ???? ??? ??????? */
}

.una-news-button.pressed {
    background-color: #004d00; /* ??? ????? ???? ??? ????? */
}

.chat-input-form {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  border-radius: 15px;
  overflow: hidden;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .chat-input-form {
    width: 90%;
  }
}

.chat-input {
  flex: 1;
  background-color: #f1f1f1;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.send-button {
  background-color: #07755d;
  border: none;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.send-button:hover {
  background-color: #129376;
  transform: scale(1.05);
}

.microphone-button {
  border: none;
  background: #07755DFF;
  border-radius: 50%;
  transform: scale(1.05);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.microphone-button:hover {
  background-color: #129376;
  transform: scale(1.05);
}

.microphone-button:active {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


